@charset "UTF-8";
@font-face {
    font-family: LEMONMILK-Regular;
    src: url(fonts/LEMONMILK-Regular.otf);
}
code{
    font-family: monospace;
    background-color: rgb(212, 212, 221);
    color: brown;
    font-size: 12pt;
    display: inline-block;
    border-radius: 5px; /*para arredondar o fundo*/
    padding: 2px;
}

#titulo1{
    text-align: center;
    font-family: LEMONMILK-Regular;
    font-size: 3.3rem;
    margin: auto;
    color: white;
    background: rgb(17, 17, 17);
}

h2{
    font-size: 17pt;
    font-family: sans-serif;
    color: rgb(131, 35, 35);
}

p{
    font-size: 14pt;
    font-family: sans-serif;
}

body{
    background-color: rgb(255, 255, 255);
}

h3{
    font-family: sans-serif;
}
