@charset "UTF-8";
@font-face {
    font-family: bree_serif-regular;
    src: url(fonts/bree_serif-regular.ttf);
}
body{
    margin: 0px;
    padding: 0px;
}

a{
    color: #01260E;
    text-decoration: none;
    font-family: sans-serif;
}

nav a:hover{
    color: #0ec23b;
}

#logo{
    font-size: 2rem;
    font-weight: bold;
    color: #05F240;
    font-family: monospace;
}
#header {
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #01200ccc;
}
#menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
}
#menu a { 
    display: block;
    padding: 0.4rem;
}

#btn-mobile {
    color: #05F240;
    display: none;
}


@media (max-width: 10011px){
    #menu {
        display: block;
        visibility: hidden;
        position: absolute;
        width: 100%;
        top: 54px;
        right: 0px;
        height: 0px;
        transition: 0.4s;
        overflow-y: hidden;
        z-index: 1000;
        background-image: linear-gradient(to bottom, #01200c, #038C33);
    }
    #nav.active #menu {
        height: calc(100vh - 70px); 
        visibility: visible;
        overflow-y: auto;
    }
    
    #menu a{
        padding: 1rem 0;
        margin: 1.5rem 370px ;
        text-align: center;
        font-size: 1.4rem;
        font-family: bree_serif-regular;
        text-transform: uppercase;
        border-radius: 4px;
        box-shadow: 3px 3px 9px 5px #00f33d79;
        background: #ffffff;
    }
    #menu a::before{
        content: '➜';
        margin-right: 6px;
    }

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburgue{ 
        display: block;
        width: 20px;
        border-top: 2px solid;
    }
    #hamburgue::after, #hamburgue::before{
        content: '';
        display: block;
        height: 2px;
        width: 20px;
        background: currentColor;
        margin-top: 5px;
        transition: .4s;
        position: relative;
    }
    #nav.active #hamburgue{ 
        border-top: hidden;
    }
    #nav.active #hamburgue::before{
        transform: rotate(135deg);
    }
    #nav.active #hamburgue::after{
        transform: rotate(-135deg);
        top: -7px;
    }
}







/*PALETA DE CORES*/

/* Color Theme Swatches in Hex */
Design-de-jogos-1-hex { color: #038C33; }
Design-de-jogos-2-hex { color: #025920; }
Design-de-jogos-3-hex { color: #01260E; }
Design-de-jogos-4-hex { color: #05F240; }
Design-de-jogos-5-hex { color: #0D0D0D; }

/* Color Theme Swatches in RGBA */
Design-de-jogos-1-rgba { color: rgba(2, 140, 50, 1); }
Design-de-jogos-2-rgba { color: rgba(1, 89, 32, 1); }
Design-de-jogos-3-rgba { color: rgba(0, 38, 13, 1); }
Design-de-jogos-4-rgba { color: rgba(4, 242, 64, 1); }
Design-de-jogos-5-rgba { color: rgba(12, 12, 12, 1); }

/* Color Theme Swatches in HSLA */
Design-de-jogos-1-hsla { color: hsla(140, 96, 28, 1); }
Design-de-jogos-2-hsla { color: hsla(140, 96, 17, 1); }
Design-de-jogos-3-hsla { color: hsla(140, 96, 7, 1); }
Design-de-jogos-4-hsla { color: hsla(135, 96, 48, 1); }
Design-de-jogos-5-hsla { color: hsla(0, 0, 5, 1); }