@charset "UTF-8";
@font-face {
    font-family: fira_mono-medium;
    src: url(fonts/fira_mono-medium.ttf);
}
@font-face {
    font-family: merriweather_sans-regular;
    src: url(fonts/merriweather_sans-regular.ttf);
}
@font-face {
    font-family: bree_serif-regular;
    src: url(fonts/bree_serif-regular.ttf);
}
/*    Textos em Geral
      H1, H2, H3... P..    */

.h1{
    margin: 20px;
    text-align: center;
    font-size: 60px;
    font-weight: 400;
    text-decoration: underline;
    font-family: bree_serif-regular;
}
.h2{
    font-size: 30px;
    margin: 0px 0px 20px 0px;
    font-family: merriweather_sans-regular; 
}

.h3{
    margin-left: 15px;
    margin-bottom: 15px;
    font-size: 25px;
    margin-top: 0px;
    font-family: merriweather_sans-regular;
}

.p{
    margin-top: 0px;
    font-size: 13pt;
    font-weight: lighter;
    font-family: bree_serif-regular;
}

code{
    font-family: monospace;
    background-color: rgb(212, 212, 221);
    color: #01260E;
    font-size: 12pt;
    font-weight: bold;
    border-radius: 5px; /*para arredondar o fundo*/
    padding: 2px;
}

#ex1{
    background-color: white;
    font-size: 12pt;
    width: 576px;
    font-family: fira_mono-medium;
    margin-left: 1rem;
    margin-top: 1rem;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 3px 3px 5px rgb(68, 65, 65);

}
/*body*/

body{
    background-image: linear-gradient(to top, #01260E, #038C33);
}

#estilo_conteudo {
    background-color: white;
    margin: 150px;
    margin-top: 30px;
    margin-bottom: 100px;
    padding: 30px;
    border-radius: 4px;
    box-shadow: 6px 6px 10px black;
}


/*css da pagina tags (Tabela)*/

table{
    display: block;
    background-color: rgb(210, 206, 211);
    margin: 80px;
    margin-top: 25px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 4px;
    font-family: bree_serif-regular;
    border: 2px solid black;
    border-collapse: collapse;
}

caption{
    font-size: 30pt;
    font-family: merriweather_sans-regular;
}

tr, td, th{
    border: .15rem solid black;
    padding: 3px;
}
