@charset "UTF-8";


h1{
    font-family: 'Segoe UI';
    color: rgb(255, 255, 255);
}
h3, p, a {
    font-family: cursive;
}
a{
    color: rgb(255, 255, 255);
}
body{
    background: no-repeat url("img/html-1.png" );
    color: rgb(255, 255, 255);

}
