@charset "UTF-8";
code{
    font-family: monospace;
    background-color: rgb(212, 212, 221);
    color: brown;
    font-size: 12pt;
    display: inline-block;
    border-radius: 5px; /*para arredondar o fondo*/
    padding: 2px;
    
    
}
a{
    font-size: 14pt;
    color: black;
    font-family: monospace;
    
}
h1{
    color: rgb(23, 0, 128);
}
h2{

    font-size: 17pt;
    font-family: sans-serif;
    color: rgb(131, 35, 35);
}
p{
    font-size: 14pt;
    font-family: sans-serif;
}
body{
    background-color: rgb(255, 255, 255);
}
h3{
    font-family: sans-serif;
}
