@charset "UTF-8";

body{
    margin: 0px;
    padding: 0px;
}

a{
    color: black;
    text-decoration: none;
    font-family: sans-serif;
}

a:hover{
    background: rgba(0, 0, 0, 0.07);
}

#logo{
    font-size: 2rem;
    font-weight: bold;
    color: white;
    font-family: monospace;
}
#header {
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
}
#menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
}
#menu a { 
    display: block;
    padding: 0.4rem;
}

#btn-mobile {
    color: white;
    display: none;
}


@media (max-width: 10011px){
    #menu {
        display: block;
        visibility: hidden;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        height: 0px;
        transition: 0.4s;
        overflow-y: hidden;
        z-index: 1000;
        background-color: rgb(230, 227, 227);
    }
    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a{
        padding: 1.1rem 0;
        margin: 1rem 1.1rem;
        text-align: center;
        font-size: 1.4rem;
        font-family: monospace;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 4px;
        box-shadow: 4.5px 6px 2.5px rgba(66, 64, 64, 0.767);
        background: white;
        
    }

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburgue{ 
        display: block;
        width: 20px;
        border-top: 2px solid;
    }
    #hamburgue::after, #hamburgue::before{
        content: '';
        display: block;
        height: 2px;
        width: 20px;
        background: currentColor;
        margin-top: 5px;
        transition: .4s;
        position: relative;
    }
    #nav.active #hamburgue{ 
        border-top: hidden;
    }
    #nav.active #hamburgue::before{
        transform: rotate(135deg);
    }
    #nav.active #hamburgue::after{
        transform: rotate(-135deg);
        top: -7px;
    }
}