@charset "UTF-8";

body{
    background: #0e1013;
}
h1{
    max-width: 480px;
    text-align: center;
    margin: 60px auto;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
}
h1::after{
    content: '|';
    opacity: 1;
    animation: pisca .89s infinite;
}

@keyframes pisca {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}