@charset "UTF-8";
#tags{
    font-family: monospace;
}
a{
    font-size: 14pt;
    color: black;
    font-family: monospace;
    
}
h1{
    color: rgb(23, 0, 128);
}
h2{

    font-size: 17pt;
    font-family: sans-serif;
    color: rgb(131, 35, 35);
}
p{
    font-size: 14pt;
    font-family: sans-serif;
}
body{
    background-color: rgb(170, 199, 136);
}
h3{
    font-family: sans-serif;
}