@charset "UTF-8";

h1{
    font-family: 'Segoe UI';
    color: rgb(255, 255, 255);
}
h3{
    font-family: cursive;
}
p{
    font-family: cursive;
}
a{
    font-family: cursive;
    color: rgb(255, 255, 255);
}
body{
    background-color: rgba(53, 30, 83, 0.932);
    color: rgb(255, 255, 255);
}